*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    width: 1300px;
    margin: auto;
}

.navbar{
    background-color: #001570;
}
.navbarContenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}
.navbarContenido p{
    font-size: 25px;
}

.containerAplication{
    display: flex;
    width: 100%;
}

.historial{
    background:  #233685;
    width: 25%;
    padding: 20px;
    height: 100%;
    color: white;
}

.busqueda{
    padding: 20px;
    width: 75%;
}

.busqueda h1{
    text-align: center;
    font-size: 30px;
}

/* Estilo para el formulario */
form {
    text-align: center; /* Alinea el contenido al centro */
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  /* Estilo para el campo de entrada de texto */
  input[type="text"] {
    padding: 10px; /* Agrega relleno alrededor del campo de entrada de texto */
    border: 1px solid #ccc; /* Agrega un borde con un color gris claro */
    border-radius: 5px; /* Agrega bordes redondeados */
    width: 500px; /* Establece un ancho fijo para el campo de entrada de texto */
  }
  
  /* Estilo para el botón */
  button {
    padding: 10px 20px; /* Agrega relleno alrededor del botón */
    background-color: #007bff; /* Cambia el color de fondo del botón */
    color: #fff; /* Cambia el color del texto del botón a blanco */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Agrega bordes redondeados */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
  }
  
  /* Estilo para el botón al pasar el cursor sobre él */
  button:hover {
    background-color: #0056b3; /* Cambia el color de fondo cuando el cursor pasa sobre el botón */
  }

  .GifApp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }